<launch>
    <!-- cave1 with curved 掌子面 for inspection / SfM coverage tests -->
    <arg name="sim_config" default="cave1_curved.yaml"/>
    <arg name="planner_config" default="click_inspection.yaml"/>
    <arg name="rviz" default="true"/>
    <arg name="fpv_rviz" default="false"/>
    <arg name="rviz_config" default="$(find perfect_drone_sim)/rviz/top_down.rviz"/>

    <node pkg="perfect_drone_sim" type="perfect_drone"
          name="perfect_drone" output="log" clear_params="true">
        <param name="config_name" value="$(arg sim_config)" type="string"/>
    </node>

    <node pkg="sfm_planner" name="fsm_node" type="fsm_node" output="screen" clear_params="true">
        <param name="config_name" value="$(arg planner_config)" type="string"/>
    </node>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="top_down" args="-d $(arg rviz_config)" output="log"/>
        <node if="$(arg fpv_rviz)" pkg="rviz" type="rviz" name="fpv"
              args="-d $(find perfect_drone_sim)/rviz/fpv.rviz" output="log"/>
    </group>
</launch>
